body {
    box-sizing: border-box;
    justify-content: center;
    width: "100vw";
    background-color:cadetblue;
  }

  h1 {
    width: "100vw";
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .js-container {
    width: "100vw"
  }
  
  .board {
    display: "flex";
    width: 450px;
    border: 2px solid black;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    text-align: center;
    line-height: 150px;
  }
  